PRISMA_ENDPOINT=http://localhost:4466/defaultdeepsea-ai/dev
PRISMA_SECRET=pi389xjam2b3pjsd0
JWT_SECRET=23oijdsm23809sdf
PRISMA_MANAGEMENT_API_SECRET=sali3ncy
POSTGRES_HOST=postgres
POSTGRES_DB=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
